@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply caret-slate-500
  }

  input:read-only{
    @apply bg-gray-100 !important
  }
}

@layer components {
  .yapos-header{
    @apply xs:text-2xl xl:text-5xl
  }
}

body, html{
  background-color: #1d2125;
  color: #bec7d0
}

.link{
  color: #00b0ff;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.link:hover{
  color: #4ec7ff;
  
}